---
import AuthButton from "@components/header/auth/AuthButton.astro";
---

<div class="flex flex-col gap-1 items-center justify-center sm:flex-row">
	<AuthButton href="./" text="Iniciar sesión" bgColor="bg-accent-green-dark" txtColor="text-toast-green" hBgColor="hover:bg-toast-green" hTxtColor="hover:text-accent-green-dark" />
	<AuthButton href="./" text="Registrarse" bgColor="bg-accent-green-dark" txtColor="text-toast-green" hBgColor="hover:bg-toast-green" hTxtColor="hover:text-accent-green-dark" />
</div>